In [2]:
# read in pandas package
import pandas as pd

In [4]:
# read in listings data
# note the relative filepath to where the data is stored. 
# You might need to change your file path to point to where your data is saved
listings  =pd.read_csv('../data/week_16/listings.csv')

Learn more about relative filepaths [here](https://www.lenovo.com/gb/en/glossary/relative-path/?orgRef=https%253A%252F%252Fwww.google.com%252F&srsltid=AfmBOoqBb9DfD-BIfV3FlkRjimzXzdOff9ZLTgoMZZALvHIqDYuQWTan)

In [9]:
# have a look at data frame
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,15420,Georgian Boutique Apt City Centre,60423,Charlotte,NaN,"Old Town, Princes Street and Leith Street",55.957590,-3.188050,Entire home/apt,155.0,3,647,2025-09-13,3.62,1,164,65,NaN
1,24288,"Cool central Loft, sleeps 4, 2 double bed+en-s...",46498,Gordon,NaN,"Canongate, Southside and Dumbiedykes",55.944983,-3.185293,Entire home/apt,98.0,3,397,2025-08-29,2.17,1,157,55,NaN
2,38628,Edinburgh Holiday Let,165635,Trish,NaN,Joppa,55.942150,-3.096400,Entire home/apt,117.0,4,75,2024-12-17,0.55,1,318,2,EH-70886-F
3,44552,Double room - spacious Leith flat,195950,Shaun,NaN,South Leith,55.966120,-3.171840,Private room,75.0,3,318,2025-08-27,1.73,1,19,16,NaN
4,54188,The Four Sisters Boatel,253850,Natalie,NaN,Dalry and Fountainbridge,55.942170,-3.208630,Entire home/apt,378.0,1,36,2022-07-03,0.23,3,287,0,NaN

In [6]:
# initial check for missing data
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4936 entries, 0 to 4935
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              4936 non-null   int64
 1   name                            4936 non-null   object
 2   host_id                         4936 non-null   int64
 3   host_name                       4934 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   4936 non-null   object
 6   latitude                        4936 non-null   float64
 7   longitude                       4936 non-null   float64
 8   room_type                       4936 non-null   object
 9   price                           4925 non-null   float64
 10  minimum_nights                  4936 non-null   int64
 11  number_of_reviews               4936 non-null   int64
 12  last_review                     4650 non-null   object
 13  reviews_per_month               4650 non-null   float64
 14  calculated_host_listings_count  4936 non-null   int64
 15  availability_365                4936 non-null   int64
 16  number_of_reviews_ltm           4936 non-null   int64
 17  license                         1216 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 694.3+ KB

## Tasks
Have a go at cleaning the listings dataset.
Think about what data is missing and why.
How you address the missing data may vary via scenario:
- Scenario 1: You own a 3-bed house in the South Leith Area of Edinburgh and want to rent it out via Airbnb and competitively price your listing. 
- Scenario 2: You work for Edinburgh council and you want to identify priority areas in the city to inspect for unlicensed airbnbs 
How might we handle the missing data in each of the above scenarios?

(After next week you may want to come back to your saved .ipynb and use data visualisation to support your decision making)

In [ ]:
# write your own code